extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        |<h2> Welcome to Fertilizer Site, your trusted destination for high-quality fertilizers and agricultural supplies. We are committed to supporting farmers and gardeners with premium products that ensure healthy growth and sustainable farming.</h2>
<br/><br/>