extends layout

block content
  .row.banner
    .col-12
      h1 Reddy Fertilizers and Pesticides
  
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Ghanpur.
          
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              p.card-text Monday - Friday : 9:00am - 5:00pm
              p.card-text Saturday : 10:00am - 4:00pm
              p.card-text Sunday : 10:00 - 6:00pm

          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Pesticides
                <a href="https://www.amazon.in/s?k=pesticides&i=lawngarden&adgrpid=61666670871&ext_vrnc=hi&hvadid=346102243426&hvdev=c&hvlocphy=9302801&hvnetw=g&hvqmt=e&hvrand=6300452952245786338&hvtargid=kwd-13160540&hydadcr=15399_1931121&tag=googinhydr1-21&ref=pd_sl_6wffzddepg_e" target="_blank">
                <img src="stylesheets/PESTICIDES-BOTTLES.jpg">
                </a>
                &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Fertilizers 
                <a href="https://www.amazon.in/Fertilizers-Plant-Food/s?rh=n%3A3639097031%2Cp_n_pct-off-with-tax%3A2665401031" target="_blank">
                <img src="stylesheets/fertulixet222.jpeg">
                </a>
              |  &nbsp;

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map 
              <a href="https://www.google.com/maps/@17.442966,78.661608,14z?entry=ttu&g_ep=EgoyMDI0MDgyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
              Location <br> <img src="stylesheets/images.jpeg" alt="Location Map"class="img-fluid">
        </a>
      