extends layout

block content
  .row.banner
    .col-12
      h1 Reddy Fertilizers and Pesticides
  
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Ghanpur.
          
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              p.card-text Monday - Friday : 9:00am - 5:00pm
              p.card-text Saturday : 10:00am - 4:00pm
              p.card-text Sunday : 10:00 - 6:00pm

          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Pesticides
                <a href="https://www.amazon.in/s?k=pesticides&i=lawngarden&adgrpid=61666670871&ext_vrnc=hi&hvadid=346102243426&hvdev=c&hvlocphy=9302801&hvnetw=g&hvqmt=e&hvrand=6300452952245786338&hvtargid=kwd-13160540&hydadcr=15399_1931121&tag=googinhydr1-21&ref=pd_sl_6wffzddepg_e" target="_blank">
                <img src="stylesheets/PESTICIDES-BOTTLES.jpg">
                </a>
                &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Fertilizers 
                <a href="https://www.amazon.in/Fertilizers-Plant-Food/s?rh=n%3A3639097031%2Cp_n_pct-off-with-tax%3A2665401031" target="_blank">
                <img src="stylesheets/fertulixet222.jpeg">
                </a>
              |  &nbsp;

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map 
              <a href="https://www.google.com/maps/@17.442966,78.661608,14z?entry=ttu&g_ep=EgoyMDI0MDgyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
              Location <br> <img src="stylesheets/images.jpeg" alt="Location Map"class="img-fluid">
        </a>
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new')
              | Add review
            h2.card-title Customer reviews
            
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor D.Raju,
                small.reviewTimestamp 22 July 2024
              .col-12
                p It  is good  fertilizer and pecticides.

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Ravi,
                small.reviewTimestamp 30 February 2024
              .col-12
                p It is good for Pesticides.
    
    .col-12.col-lg-3
      p.lead
        |<h4><p style="color: white;">Welcome to Fertilizer Site, your trusted source for high-quality fertilizers, pesticides, and seeds. We offer eco-friendly fertilizers that promote healthy plant growth, effective pesticides for crop protection, and a wide variety of seeds to meet all your farming and gardening needs. Whether you are a hobbyist gardener or a commercial farmer, we have the products and expert advice to ensure a bountiful harvest.</p>

</h4>